*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "Primary";
  src: url(./fonts/questrial.woff) format(woff),
    url(./fonts//questrial.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #dfdfdf;
  --secondary: #212121;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  font-family: "Primary";
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

span,
p {
  font-size: 2rem;
  line-height: 1.2;
}

/*?-----------> Lenis CSS Settings */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/*?-----------> Section */
.section {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6.4rem;
}

.section_wrapper {
  position: relative;
  width: max-content;
}

/* background */
.section_bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.section_bg_video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.5);
}
